.shadow {
	box-shadow: 0 10px 10px -3px grey;
	box-shadow: 0 10px 10px -3px grey;
	box-shadow: 0 10px 10px -3px grey;
}
.estante {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px 80px 20px 0px;
	padding: 5px 10px;
}
.cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f3f3f3;
	width: 300px;
	height: 650px;
	border-start-end-radius: 20px;
	border-start-start-radius: 20px;
	margin: 10px 5px;
}
.fotoQ {
	background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1-2.svg);
}
.fotoB {
	background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.svg);
}
.fotoM {
	background-image: url(../img/fotoM.svg);
}
.fotoS {
	background-image: url(../img/fotoS.svg);
}
.baners {
	position: relative;
	color: red;
	background-size: cover;
	height: 200px;
	padding: 10px;
	border-start-end-radius: 20px;
	border-start-start-radius: 20px;
}
.contInfo {
	text-align: center;
	background-color: #f3f3f3;
	padding: 15px;
}
.avatar {
	border-radius: 50%;
	position: absolute;
	left: 70px;
	bottom: -60px;
	height: 150px;
}
.contInfo h2 {
	margin-top: 50px;
	font-style: normal;
	font-weight: normal;
}
.contInfo p {
	text-align: start;
	margin: 20px 0px;
}
.botom {
	background-color: #f3f3f3;
	text-align: center;
	height: 50px;
	padding-top: 10px;
}
.botom a {
	background-color: #00669f;
	padding: 15px 37px;
}
.agregar {
	width: 100px;
	text-align: center;
}
.agregar a {
	position: fixed;
	top: 60%;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00669f;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	font-size: 50px;
	font-weight: lighter;
	color: #ffffff;
}
