@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.primerEncabezado {
	position: sticky;
	background-color: #d1891c;
	padding: 10px;
	width: 400;
}
a {
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
}
@media screen and (max-width: 645px) {
	.cards {
		margin-top: 40px;
	}
}
