header {
	background-color: #e5e5e5;
	text-align: center;
}
h1 {
	background-color: #c4c4c4;
	color: #005677;
	font-style: normal;
	letter-spacing: 3px;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
}
