div {
	max-width: 80%;
	margin: 0 auto;
}
section {
	margin-top: 30px;
}
h2 {
	background-color: #c4c4c4;
	color: #005677;
	font-style: normal;
	letter-spacing: 3px;
	padding: 6px 9px 7px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
}
span {
	font-weight: bold;
}
.datos_personales {
	font-style: italic;
}
dl {
	margin-left: 50px;
}
dd {
	margin-left: 80px;
}
