@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
}

/* HEADER */
.superior {
	background-color: #222222;
	color: #f3f3f3;
	padding: 0px 20px;
}
p {
	margin-right: 10px;
}
.middle {
	background-color: #f0a83e;
	padding: 0px 20px;
}
.middle i {
	margin-right: 10px;
}
div.cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
}
.mascota {
	width: 20px;
	display: inline;
}
a {
	text-decoration: none;
	color: #ffffff;
}
h1 {
	color: black;
}
span {
	color: #ffffff;
}
li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;
}

/* HEADER */

/*MAIN */
section {
	text-align: center;
	margin-bottom: 20px;
}
.baner {
	position: relative;
	background-image: url(../img/foto.svg);
	background-size: cover;
	height: 409px;
	margin: 0px 0px 20px;
}
.baner div {
	position: absolute;
	bottom: 100px;
	right: 10px;
}
.baner p,
a {
	margin: 30px 0px;
}
.import {
	display: inline;
	background-color: #ffffff;
	font-size: 30px;
	padding: 15px;
	border-radius: 15px;
}
.baner a {
	background-color: #f0a83e;
	padding: 20px;
	font-size: 20px;
	border-radius: 15px;
}
h2 {
	font-size: 45px;
	margin: 10px 0px;
	color: black;
}
ul {
	color: black;
}
.pawGrande {
	color: #f0a83e;
	font-size: 80px;
}
.estante {
	display: flex;
	justify-content: space-between;
	max-width: 80%;
	margin: 0px auto;
}
.product {
	background-color: #fbfaf6;
	padding: 5px;
}
.precios {
	color: #f0a83e;
}
/*MAIN */
/*FOOTER */
.footerSup {
	display: flex;
	align-items: center;
	background-color: #f0a83e;
	margin-top: 20px;
	padding: 10px 23px;
}
.footerSup p {
	margin-left: 10px;
	color: #ffffff;
}
.footerMiddle {
	background-color: #3c2313;
	color: #ffffff;
	padding: 23px 70px;
}
.footerMiddle i {
	font-size: 55px;
	margin: 10px 25px 10px 0px;
}
.footerMiddle p {
	font-size: 13px;
	color: #8a8787;
}
.footerMiddle h4 {
	font-size: 25px;
}
.contFoot {
	display: flex;
	justify-content: right;
}
.contFoot i {
	width: 45px;
	height: 45px;
}
.h2foot {
	color: #ffffff;
	font-size: 23px;
}
.h2foot span {
	color: #f0a83e;
}
.footerInf {
	background-color: black;
	color: #ffffff;
	padding: 5px;
	font-size: 12px;
}

/*FOOTER*/
