header {
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: $principal-color;
	box-shadow: 0 10px 10px -3px grey;
	& > div {
		a {
			display: flex;
			padding: 28px;
			align-items: center;
			img {
				height: 4rem;
			}
			h1 {
				color: #ffffff;
				width: 400;
				font-size: 2rem;
				font-style: normal;
				font-weight: normal;
			}
		}
	}
	nav {
		ul {
			list-style-type: none;
			display: flex;
			justify-content: flex-end;
			background-color: black;
			padding: 15px;
			a {
				padding: 10px;
				margin-left: 10px;
			}
		}
	}
}
